// netwrok

.network {
    width:100%;
    height: 75px;
    float:left;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;

    @include transition();
    display: block;
    top:100%;
    //margin-top:75px; //margin of main-content
    transform: translateY(75px);

    &.not-empty{
        transform: translateY(0px);
    }

    &__user {
        height: 100%;
        width: 20%;
        border-top: 2px solid rgba(0,0,0,0.15);
        display:inline-block;
        *dsplay:inline;/* For IE7*/
        *zoom:1;/* For IE7*/
        white-space:normal;

        &.color-1 {
            @include bg('mh-color-1');
        }
        &.color-2 {
            @include bg('mh-color-2');
        }
        &.color-3 {
            @include bg('mh-color-3');
        }
        &.color-4 {
            @include bg('mh-color-4');
        }
        &.color-5 {
            @include bg('mh-color-5');
        }
        &.color-6 {
            @include bg('mh-color-6');
        }
        &.color-7 {
            @include bg('mh-color-7');
        }
    }

}
