.notification {

    &__avatar {
        float: left;
        margin: 12px 0 0 12px;
    }

    .avatar {
        box-shadow: none; 
    }

    &__title {
        @include ellipsis();
        @include font(
            $size: 32,
            $color: 'mh-gray-text'
        );
        display: block;
        padding: 20px 0 0 8px;
        width: 50%;
        float: left;
       font-weight: 400;
    }

    &__details {
        @include ellipsis();
        @include font(
            $size: 16,
            $color: 'mh-gray-text',
            $transform: uppercase
        );
        display: block;
        padding: 0 0 0 8px;
        width: 50%;
        float: left;

        

    }

    &__reply {
        @include bg('mh-gray-button');
        border: 0;
        right: 0;
        margin: 12px 12px 0 0;
        box-shadow: none;
    }

    .icon-reply {
        display: block;
        @include font(
            $size: 40,
            $color: 'mh-gray-text',
            $align: center
        );
        margin-top: 18px; 
    }

}