.reply-menu {
    @include border(1px 0 0, $color: 'gray-light-2');
    list-style: inside none;

    
    &__option {
        @include font(
            $color: 'mh-gray-text',
            $size: 18,
            $align: center,
            $deco: none
        );
        display: block;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
}