.idea/.name
.idea/MediaHackDay_drive.iml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/J_Sjauw_mook.xml
*.pyc
db.sqlite3
hackaton_backend/MediaHackDay/local_settings.py
.sass-cache/
