/*------------------------------------*\
    #VARIABLES-SF
\*------------------------------------*/
/**
* System paths for various folders
* Note: Should point to the css directory in config.rb
*/
/**
*  Boolean choice operators
*/
/**
* Global typography
* TBD
*/
/* Font declaration */
/* Global typography variables */
/* Heading fonts */
/* Heading sizes */
/* heading alignment */
/* Heading stylings */
/**
* Colors
* TBD
*/
/* Default color scheme and concept colors */
/* Storefronts color(s) */
/**
* Use map_merge to merge the concept colors into the default color scheme
* Map-2 overwrites Map-1 so any color mapped in the concept will
* overwrite the 'core' color without problems
*/
/* Important color $vars */
/**
* Margin(s) fixed / static
* TBD
*/
/* Gutter sizes */
/**
* Grid / layout container settings
* TBD
*/
/**
* Height / width sitewide
* TBD
*/
/* Fixed width(s) */
/* Fixed height(s) */
/**
* Header / Footer variables
* TBD
*/
/**
* Forms
* TBD
*/
/**
* Shop more
* TBD
*/
/**
* Redaction
* TBD
*/
/**
* Navigation
* TBD
*/
/* Navigation */
/* Paging */
/**
* Block
* TBD
*/
/**
* Brands list
* TBD
*/
/**
* BRAND BAR
* TBD
*/
/**
* QUICKVIEW
* TBD
*/
/**
* Popup
* TBD
*/
/**
* Character-filter (a.k.a. alphabet-bar)
* TBD
*/
/**
* Quick sort
* TBD
*/
/**
* Social bar
* TBD
*/
/**
* Search field(s)
* TBD
*/
/**
* Breadcrumbs
* TBD
*/
/* Dropdowns */
/**
* Buttons
* TBD
*/
/* Button colors */
/* Button sizes */
/* Like button */
/* Follow button */
/**
* Ticker variables
* TBD
*/
/**
* Text variables
* TBD
*/
/**
* Comment(s)
* TBD
*/
/**
* Slideshow
* TBD
*/
/**
* Pricing-block
* TBD
*/
/**
* Filter variables
* TBD
*/
/* Global filter variables */
/* Special filters */
/* Facets */
/**
* Meta data
* TBD
*/
/**
* Z-indices
* TBD
*/
/**
* Breakpoints
* TBD
*/
/**
* Animation settings
* TBD
*/
/**
* Spritesheets
* TBD
*/
/* Include Compass spritesheet generation mixin  */
/* Sprite spacing (whitespace around images) */
/* Disable sprite dimensions  */
/*

$greyscale-chevron-wright-position: 95%;
$greyscale-arrow-right-position: 100%;
$greyscale-search-icon-position: 100%;
*/
/* Make spritesheets */
/*
@import 'greyscale/*.png';  // make an exclusive greyscale sheet with minimized color set
@include all-greyscale-sprites;

@import 'colored/*.png';  // make an exclusive colored sheet with 24 bit color set
@include all-colored-sprites;
*/
/* Modal */
/* Sidebar */
/* Contests */
/* Scroller */
/*------------------------------------*\
    #FUNCTIONS
\*------------------------------------*/
/**
* getMap returns a value from selected key or prints @debug info 
* Usage: Do not directly call this, use a @mixin instead
*/
/* reference function for color(s), has set Map */
/**
* Checks length of input 
* Usage: called from mixin / function returns a INTEGER value
*        where INT is the amount of input values 
* Note:  Special cases NULL where auto or 0 is used
*/
/**
* Calculate value in em for pixel
*
*/
/* Strips any unit indicator from value */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
* Truncate text on max-width of parent
* Usage: @include ellipsis();
* Note: requires (max)width property to function
*/
/**
* Makes overflow on Y axis scrolling
* Usage:
*/
/**
* animation settings for CSS3 animations
* retrieves values from _variables-abstract.scss
* Usage: Call this mixin once to set global values
*        after that add your CSS3 transform of choice
*/
/**
* Adds Boxshadow, in rgba() or HEX
* Usage: Call shadow() and add either X / Y / blur / color
*        Without parameters defaults to 0, 2px, 2px, $black
*/
/**
* Set all font properties at once (or just one, your choice)
*/
/* Sets background-color property */
/**
* Sets border on element
* Usage: @include setBorder(width, color, style);
*        Checks amount of width inputs to downsize CSS
*/
/**
* @media mixins, inspired by Rafal Bromirski on Github
*
*/
/*
    $values == top, bottom, range*
    $device == mobile, tablet-long, tablet-wide, desktop

*/
/**
* Adds border-radius to an element
* defaults to 50% per corner
*/
/**
* Adds clearfix behavior to selector
* Prevents use of @extend for clearfixing content
*/
/* Creates global layout parameters for layout-containers */
/* Sets shadow() */
/* _base */
/* line 5, ../sass/02-base/_states.scss */
.km-30 .shadow {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
}
/* line 8, ../sass/02-base/_states.scss */
.km-30 .text-shadow {
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
}

/* line 17, ../sass/02-base/_states.scss */
.km-50 .shadow {
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.15);
}
/* line 20, ../sass/02-base/_states.scss */
.km-50 .text-shadow {
  text-shadow: 0 5px 1px rgba(0, 0, 0, 0.15);
}

/* line 27, ../sass/02-base/_states.scss */
.km-80 .shadow {
  box-shadow: 0 8px 1px rgba(0, 0, 0, 0.15);
}
/* line 30, ../sass/02-base/_states.scss */
.km-80 .text-shadow {
  text-shadow: 0 8px 1px rgba(0, 0, 0, 0.15);
}

/* line 37, ../sass/02-base/_states.scss */
.km-120 .shadow {
  box-shadow: 0 12px 1px rgba(0, 0, 0, 0.15);
}
/* line 40, ../sass/02-base/_states.scss */
.km-120 .text-shadow {
  text-shadow: 0 12px 1px rgba(0, 0, 0, 0.15);
}

/*------------------------------------*\
    #RESET
\*------------------------------------*/
/* Box-size all content */
/* line 6, ../sass/02-base/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/* line 21, ../sass/02-base/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 29, ../sass/02-base/_reset.scss */
body {
  margin: 0;
}

/* line 40, ../sass/02-base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 60, ../sass/02-base/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 73, ../sass/02-base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 83, ../sass/02-base/_reset.scss */
[hidden],
template {
  display: none;
}

/* line 95, ../sass/02-base/_reset.scss */
a {
  background: transparent;
}

/* line 103, ../sass/02-base/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 115, ../sass/02-base/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 123, ../sass/02-base/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 132, ../sass/02-base/_reset.scss */
dfn {
  font-style: italic;
}

/* line 141, ../sass/02-base/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 150, ../sass/02-base/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 159, ../sass/02-base/_reset.scss */
small {
  font-size: 80%;
}

/* line 167, ../sass/02-base/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 175, ../sass/02-base/_reset.scss */
sup {
  top: -0.5em;
}

/* line 179, ../sass/02-base/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 190, ../sass/02-base/_reset.scss */
img {
  border: 0;
}

/* line 198, ../sass/02-base/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 209, ../sass/02-base/_reset.scss */
figure {
  margin: 1em 40px;
}

/* line 217, ../sass/02-base/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 227, ../sass/02-base/_reset.scss */
pre {
  overflow: auto;
}

/* line 235, ../sass/02-base/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 258, ../sass/02-base/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 272, ../sass/02-base/_reset.scss */
button {
  overflow: visible;
}

/* line 283, ../sass/02-base/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 296, ../sass/02-base/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 308, ../sass/02-base/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 317, ../sass/02-base/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 328, ../sass/02-base/_reset.scss */
input {
  line-height: normal;
}

/* line 340, ../sass/02-base/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 352, ../sass/02-base/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 363, ../sass/02-base/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 376, ../sass/02-base/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 385, ../sass/02-base/_reset.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 402, ../sass/02-base/_reset.scss */
textarea {
  overflow: auto;
}

/* line 411, ../sass/02-base/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 422, ../sass/02-base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 427, ../sass/02-base/_reset.scss */
td,
th {
  padding: 0;
}

/* line 1, ../sass/02-base/_main.scss */
html {
  height: 100%;
}

/* line 5, ../sass/02-base/_main.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-weight: 100;
}

/* line 23, ../sass/02-base/_main.scss */
.content {
  overflow: hidden;
}

/* line 28, ../sass/02-base/_main.scss */
.footer {
  background: blue;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/02-base/_fontface.scss */
[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/02-base/_fontface.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 42, ../sass/02-base/_fontface.scss */
.icon-close:before {
  content: "x";
}

/* line 45, ../sass/02-base/_fontface.scss */
.icon-config:before {
  content: "c";
}

/* line 48, ../sass/02-base/_fontface.scss */
.icon-message:before {
  content: "f";
}

/* line 51, ../sass/02-base/_fontface.scss */
.icon-messages:before {
  content: "g";
}

/* line 54, ../sass/02-base/_fontface.scss */
.icon-reply:before {
  content: "h";
}

/* line 57, ../sass/02-base/_fontface.scss */
.icon-star:before {
  content: "i";
}

/* line 60, ../sass/02-base/_fontface.scss */
.icon-star-o:before {
  content: "j";
}

/* line 63, ../sass/02-base/_fontface.scss */
.icon-stats:before {
  content: "k";
}

/* line 66, ../sass/02-base/_fontface.scss */
.icon-arrow-right:before {
  content: "a";
}

/* line 69, ../sass/02-base/_fontface.scss */
.icon-history:before {
  content: "b";
}

/* line 72, ../sass/02-base/_fontface.scss */
.icon-inbox:before {
  content: "d";
}

/* line 75, ../sass/02-base/_fontface.scss */
.icon-leaf:before {
  content: "e";
}

/* line 78, ../sass/02-base/_fontface.scss */
.icon-notify:before {
  content: "l";
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
/* Default list behavior  */
/* line 6, ../sass/02-base/_lists.scss */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Display list items inline */
/* line 15, ../sass/02-base/_lists.scss */
.inline-list li {
  display: inline-block;
}
/* line 19, ../sass/02-base/_lists.scss */
.inline-list--centered {
  text-align: center;
  margin: 0 auto;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/** 
* double heading declaration : 
* http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
*/
/* Always add global align to headings */
/* line 12, ../sass/02-base/_headings.scss */
h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  text-align: center;
  margin: 0;
  font-weight: 100;
}

/* line 21, ../sass/02-base/_headings.scss */
h1,
.alpha {
  font-size: 1.125rem;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  text-transform: uppercase;
}

/* line 38, ../sass/02-base/_headings.scss */
h2,
.beta {
  font-size: 1.25rem;
  font-family: Georgia, serif;
}

/* line 55, ../sass/02-base/_headings.scss */
h3,
.gamma {
  font-size: 1.25rem;
  font-family: Georgia, serif;
}

/* line 72, ../sass/02-base/_headings.scss */
h4,
.delta {
  font-size: 1.25rem;
  font-family: "Courier New", monospaced;
}

/* line 89, ../sass/02-base/_headings.scss */
h5,
.epsilon {
  font-size: 1.25rem;
  font-family: "Courier New", monospaced;
}

/* line 106, ../sass/02-base/_headings.scss */
h6,
.zeta {
  font-size: 1.25rem;
  font-family: "Courier New", monospaced;
}

/* line 3, ../sass/02-base/_buttons.scss */
.button {
  position: absolute;
  display: block;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 16px;
  z-index: 9999;
}
/* line 13, ../sass/02-base/_buttons.scss */
.button.notification {
  bottom: 95px;
  right: 0;
}
/* line 18, ../sass/02-base/_buttons.scss */
.button.alert {
  right: 0;
}

/* line 24, ../sass/02-base/_buttons.scss */
.button.alert {
  background-color: #FFF;
}
/* line 27, ../sass/02-base/_buttons.scss */
.button.alert .icon-inbox {
  font-size: 2.1875rem;
  color: #5c5c5c;
  text-align: center;
  margin: 20px 0 0 6px;
  display: block;
}

/* line 37, ../sass/02-base/_buttons.scss */
.button.notification {
  background: none;
  box-shadow: none;
  margin-right: 12px;
}
/* line 42, ../sass/02-base/_buttons.scss */
.button.notification .icon-leaf {
  display: block;
  margin-top: 8px;
  font-size: 3.75rem;
  color: #45d16a;
  text-align: center;
}

/* line 1, ../sass/02-base/_icons.scss */
.icon-star {
  text-align: center;
  font-size: 0.875rem;
  color: #FFF;
  padding-top: 4px;
}

/* line 10, ../sass/02-base/_icons.scss */
.icon-reply {
  display: block;
  font-size: 2.5rem;
  color: #5c5c5c;
  text-align: center;
  margin-top: 18px;
}

/* line 21, ../sass/02-base/_icons.scss */
.icon.red {
  background-color: #ed4242;
}
/* line 24, ../sass/02-base/_icons.scss */
.icon.purple {
  background-color: #65566b;
}
/* line 27, ../sass/02-base/_icons.scss */
.icon.green {
  background-color: #45d16a;
}
/* line 30, ../sass/02-base/_icons.scss */
.icon.orange {
  background-color: #ff8359;
}
/* line 33, ../sass/02-base/_icons.scss */
.icon.yellow {
  background-color: #ebe1ca;
}

/* line 37, ../sass/02-base/_icons.scss */
.icon-inbox {
  font-size: 2.1875rem;
  color: #5c5c5c;
  text-align: center;
  margin: 20px 0 0 6px;
  display: block;
}

/* line 46, ../sass/02-base/_icons.scss */
.icon-stats {
  font-size: 2.1875rem;
  color: #5c5c5c;
  text-align: center;
  margin: 20px 0 0 6px;
  display: block;
}

/* line 55, ../sass/02-base/_icons.scss */
.button .icon-leaf {
  font-size: 2.1875rem;
  color: #5c5c5c;
  text-align: center;
  margin: 22px 0 0;
  display: block;
}

/* line 65, ../sass/02-base/_icons.scss */
.icon-close {
  font-size: 1.5625rem;
  color: #5c5c5c;
  text-align: center;
  margin: 26px 0 0;
  display: block;
}

/* _componets */
/* line 7, ../sass/03-layout/_layout.scss */
.menu__top,
.menu__bottom {
  height: 100px;
  background: white;
  display: block;
  width: 100%;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  position: fixed;
  z-index: 600;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
}
/* line 18, ../sass/03-layout/_layout.scss */
.menu__top.open,
.menu__bottom.open {
  transform: translateY(0);
}

/* line 23, ../sass/03-layout/_layout.scss */
.menu__top {
  top: 0;
  transform: translateY(-100px);
}

/* line 28, ../sass/03-layout/_layout.scss */
.menu__bottom.reply {
  bottom: 0;
  height: 225px;
  transform: translateY(225px);
}
/* line 33, ../sass/03-layout/_layout.scss */
.menu__bottom.reply.open {
  transform: translateY(0);
}

/* line 37, ../sass/03-layout/_layout.scss */
.menu__bottom.alerts {
  bottom: 0;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
}
/* line 43, ../sass/03-layout/_layout.scss */
.menu__bottom.alerts.open {
  transform: translateY(0);
}

/* line 48, ../sass/03-layout/_layout.scss */
.main-content {
  position: fixed;
  position: relative;
  display: block;
  height: calc(100% - 75px);
  width: 100%;
  z-index: 400;
  background-image: url("/mediahackday//img/map.png");
}

/* line 58, ../sass/03-layout/_layout.scss */
#map-page {
  height: calc(100% - 75px);
  min-height: 100% !important;
  overflow: hidden;
}

/* line 63, ../sass/03-layout/_layout.scss */
#map-canvas {
  height: 595px !important;
}

/* _componets */
/* line 3, ../sass/04-components/_notification.scss */
.notification__avatar {
  float: left;
  margin: 12px 0 0 12px;
}
/* line 8, ../sass/04-components/_notification.scss */
.notification .avatar {
  box-shadow: none;
}
/* line 12, ../sass/04-components/_notification.scss */
.notification__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2rem;
  color: #5c5c5c;
  display: block;
  padding: 20px 0 0 8px;
  width: 50%;
  float: left;
  font-weight: 400;
}
/* line 25, ../sass/04-components/_notification.scss */
.notification__details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  color: #5c5c5c;
  text-transform: uppercase;
  display: block;
  padding: 0 0 0 8px;
  width: 50%;
  float: left;
}
/* line 41, ../sass/04-components/_notification.scss */
.notification__reply {
  background-color: #f2f2f2;
  border: 0;
  right: 0;
  margin: 12px 12px 0 0;
  box-shadow: none;
}
/* line 49, ../sass/04-components/_notification.scss */
.notification .icon-reply {
  display: block;
  font-size: 2.5rem;
  color: #5c5c5c;
  text-align: center;
  margin-top: 18px;
}

/* line 2, ../sass/04-components/_avatars.scss */
.avatar {
  position: relative;
  display: block;
  width: 96px;
  height: 96px;
  z-index: 9999;
}
/* line 11, ../sass/04-components/_avatars.scss */
.avatar.road-owner {
  position: absolute;
  left: 12px;
  top: 12px;
}
/* line 16, ../sass/04-components/_avatars.scss */
.avatar .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
/* line 24, ../sass/04-components/_avatars.scss */
.avatar img {
  width: 76px;
  height: 76px;
  margin: 4px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 1px #EEE;
}
/* line 32, ../sass/04-components/_avatars.scss */
.avatar .icon-star {
  text-align: center;
  font-size: 0.875rem;
  color: #FFF;
  padding-top: 4px;
}

/* line 42, ../sass/04-components/_avatars.scss */
.icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
  z-index: 9999;
}

/* line 1, ../sass/04-components/_reply.scss */
.reply-menu {
  border-width: 1px 0 0;
  border-color: #EEE;
  border-style: solid;
  list-style: inside none;
}
/* line 6, ../sass/04-components/_reply.scss */
.reply-menu__option {
  font-size: 1.125rem;
  color: #5c5c5c;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 5, ../sass/04-components/_alerts.scss */
.alerts ul {
  border-width: 0 0 1px;
  border-color: #f2f2f2;
  border-style: solid;
}
/* line 9, ../sass/04-components/_alerts.scss */
.alerts__item {
  display: block;
  height: 100px;
  clear: both;
  border-width: 1px 0 0;
  border-color: #f2f2f2;
  border-style: solid;
}
/* line 17, ../sass/04-components/_alerts.scss */
.alerts .button {
  right: 0;
  margin: 10px 6px 0 0;
  box-shadow: none;
}
/* line 23, ../sass/04-components/_alerts.scss */
.alerts__header {
  height: 100px;
  clear: both;
  border-bottom: 1px solid #5c5c5c;
}
/* line 28, ../sass/04-components/_alerts.scss */
.alerts__header h2 {
  padding: 30px 0;
  font-size: 2rem;
  color: #5c5c5c;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  text-transform: uppercase;
}
/* line 38, ../sass/04-components/_alerts.scss */
.alerts__header .button {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: none;
  margin: 10px 0 0 6px;
}
/* line 45, ../sass/04-components/_alerts.scss */
.alerts__header .button.js-toggle__bottom {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  box-shadow: none;
  margin: 12px 6px 0 0;
}
/* line 55, ../sass/04-components/_alerts.scss */
.alerts__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2rem;
  color: #5c5c5c;
  display: block;
  padding: 0;
  margin-top: 18px;
}
/* line 67, ../sass/04-components/_alerts.scss */
.alerts__holder {
  display: block;
  width: 50%;
  float: left;
}
/* line 73, ../sass/04-components/_alerts.scss */
.alerts__details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  color: #5c5c5c;
  text-transform: uppercase;
  display: block;
  padding: 0;
}
/* line 85, ../sass/04-components/_alerts.scss */
.alerts .avatar {
  float: left;
  margin: 6px 0 0 2px;
}
/* line 90, ../sass/04-components/_alerts.scss */
.alerts.stats {
  z-index: 10000;
}

/* line 3, ../sass/04-components/_network.scss */
.network {
  width: 100%;
  height: 75px;
  float: left;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  display: block;
  top: 100%;
  transform: translateY(75px);
}
/* line 17, ../sass/04-components/_network.scss */
.network.not-empty {
  transform: translateY(0px);
}
/* line 21, ../sass/04-components/_network.scss */
.network__user {
  height: 100%;
  width: 20%;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  *dsplay: inline;
  /* For IE7*/
  *zoom: 1;
  /* For IE7*/
  white-space: normal;
}
/* line 30, ../sass/04-components/_network.scss */
.network__user.color-1 {
  background-color: #abd1c6;
}
/* line 33, ../sass/04-components/_network.scss */
.network__user.color-2 {
  background-color: #ede3cb;
}
/* line 36, ../sass/04-components/_network.scss */
.network__user.color-3 {
  background-color: #ff8157;
}
/* line 39, ../sass/04-components/_network.scss */
.network__user.color-4 {
  background-color: #ee4242;
}
/* line 42, ../sass/04-components/_network.scss */
.network__user.color-5 {
  background-color: #66566c;
}
/* line 45, ../sass/04-components/_network.scss */
.network__user.color-6 {
  background-color: #42ee8d;
}
/* line 48, ../sass/04-components/_network.scss */
.network__user.color-7 {
  background-color: #57d4ff;
}

/* line 3, ../sass/04-components/_stats.scss */
.stats .alerts__header:first-child {
  border-width: 0 0 1px;
  border-color: #f2f2f2;
  border-style: solid;
  margin: 0 0 30px;
}
/* line 10, ../sass/04-components/_stats.scss */
.stats .alerts__header {
  border-width: 1px 0 0;
  border-color: #f2f2f2;
  border-style: solid;
}
/* line 16, ../sass/04-components/_stats.scss */
.stats > .icon-leaf {
  display: block;
  margin: 0 auto;
  font-size: 90px;
  text-align: center;
  font-size: 5.625rem;
  color: #45d16a;
  text-transform: uppercase;
}
/* line 27, ../sass/04-components/_stats.scss */
.stats > .icon-leaf.red {
  color: #ed4242;
}
/* line 34, ../sass/04-components/_stats.scss */
.stats > h3, .stats > p {
  text-align: center;
  font-family: "Source Sans Pro", Verdana, sans-serif;
}
/* line 41, ../sass/04-components/_stats.scss */
.stats > h3 {
  font-size: 0.9375rem;
  color: #5c5c5c;
  text-transform: uppercase;
}
/* line 49, ../sass/04-components/_stats.scss */
.stats > p {
  font-size: 2.375rem;
  color: #45d16a;
  text-transform: uppercase;
  margin: 5px 0 30px;
}
/* line 57, ../sass/04-components/_stats.scss */
.stats > p.red {
  color: #ed4242;
}
/* line 64, ../sass/04-components/_stats.scss */
.stats .alerts__item {
  float: none;
}
/* line 67, ../sass/04-components/_stats.scss */
.stats .alerts__item .button {
  right: auto;
  left: 6px;
}
/* line 72, ../sass/04-components/_stats.scss */
.stats .alerts__item .alerts__holder {
  width: auto;
  float: none;
}
/* line 77, ../sass/04-components/_stats.scss */
.stats .alerts__item .alerts__title {
  margin-left: 90px;
  margin-top: 10px;
}
/* line 81, ../sass/04-components/_stats.scss */
.stats .alerts__item .alerts__title time, .stats .alerts__item .alerts__title p, .stats .alerts__item .alerts__title i {
  display: block;
  color: false;
  margin: 0;
}
/* line 89, ../sass/04-components/_stats.scss */
.stats .alerts__item .alerts__title time, .stats .alerts__item .alerts__title i {
  font-size: 0.875rem;
  line-height: 20px;
}
/* line 96, ../sass/04-components/_stats.scss */
.stats .alerts__item .alerts__title time {
  text-transform: uppercase;
}
/* line 102, ../sass/04-components/_stats.scss */
.stats .alerts__item .alerts__title p {
  font-size: 1.625rem;
  text-transform: uppercase;
}
/* line 109, ../sass/04-components/_stats.scss */
.stats .alerts__item .alerts__title i {
  text-transform: uppercase;
}

/* line 1, ../sass/05-pages/_login.scss */
body.login {
  background: #a9cfc3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a9cfc3), color-stop(20%, #a9cfc3), color-stop(20%, #ebe1ca), color-stop(40%, #ebe1ca), color-stop(40%, #ff8359), color-stop(60%, #ff8359), color-stop(60%, #ed4242), color-stop(80%, #ed4242), color-stop(80%, #65566b), color-stop(100%, #65566b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* IE10+ */
  background: linear-gradient(to right, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9cfc3', endColorstr='#65566b',GradientType=1 );
  /* IE6-9 */
}
/* line 5, ../sass/05-pages/_login.scss */
body.login main:focus {
  oultine: none;
}
/* line 10, ../sass/05-pages/_login.scss */
body.login form {
  position: relative;
  width: 80%;
  margin: 0 10%;
}
/* line 14, ../sass/05-pages/_login.scss */
body.login form:focus {
  outline: none;
}
/* line 18, ../sass/05-pages/_login.scss */
body.login form input {
  width: 100%;
  padding: 12px 16px;
  font-size: 24px;
}
/* line 26, ../sass/05-pages/_login.scss */
body.login .email {
  border-radius: 12px 12px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 29, ../sass/05-pages/_login.scss */
body.login .email:focus {
  outline: none;
}
/* line 34, ../sass/05-pages/_login.scss */
body.login .password {
  border-radius: 0 0 12px 12px;
  border-width: 0 1px 1px  1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
}
/* line 39, ../sass/05-pages/_login.scss */
body.login .password:focus {
  outline: none;
}
/* line 43, ../sass/05-pages/_login.scss */
body.login .submit {
  position: absolute;
  right: -28px;
  top: 22px;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 50%;
  background-color: #45d16a;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.15);
}
/* line 56, ../sass/05-pages/_login.scss */
body.login .icon--large {
  display: block;
  margin: 20% auto 10%;
  width: 256px;
  height: 210px;
  color: #45d16a;
  text-align: center;
}
/* line 66, ../sass/05-pages/_login.scss */
body.login .icon-leaf {
  font-size: 210px;
  line-height: 1;
  text-shadow: 0 12px 1px rgba(0, 0, 0, 0.15);
}
/* line 72, ../sass/05-pages/_login.scss */
body.login .new-account {
  position: absolute;
  display: block;
  bottom: 0;
  padding: 12px;
  background-color: #FFF;
  font-size: 1.5rem;
  color: #5c5c5c;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

@keyframes scroll-in {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 10, ../sass/05-pages/_home.scss */
body.home {
  background: #a9cfc3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a9cfc3), color-stop(20%, #a9cfc3), color-stop(20%, #ebe1ca), color-stop(40%, #ebe1ca), color-stop(40%, #ff8359), color-stop(60%, #ff8359), color-stop(60%, #ed4242), color-stop(80%, #ed4242), color-stop(80%, #65566b), color-stop(100%, #65566b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* IE10+ */
  background: linear-gradient(to right, #a9cfc3 0%, #a9cfc3 20%, #ebe1ca 20%, #ebe1ca 40%, #ff8359 40%, #ff8359 60%, #ed4242 60%, #ed4242 80%, #65566b 80%, #65566b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9cfc3', endColorstr='#65566b',GradientType=1 );
  /* IE6-9 */
}
/* line 13, ../sass/05-pages/_home.scss */
body.home.open__profile .user-info {
  transform: translateY(0);
}
/* line 17, ../sass/05-pages/_home.scss */
body.home .user-info {
  text-align: center;
  background-color: white;
  overflow: hidden;
  padding-bottom: 15px;
  transform: translateY(-500px);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
/* line 25, ../sass/05-pages/_home.scss */
body.home .user-info .avatar {
  position: relative;
  width: 256px;
  height: 256px;
  margin: 25px auto;
}
/* line 31, ../sass/05-pages/_home.scss */
body.home .user-info .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 37, ../sass/05-pages/_home.scss */
body.home .user-info .avatar .icon-leaf {
  position: absolute;
  font-size: 4em;
  bottom: -30px;
  right: 30px;
  color: #45d16a;
}
/* line 48, ../sass/05-pages/_home.scss */
body.home .user-info h1, body.home .user-info h2 {
  color: #5c5c5c;
}
/* line 54, ../sass/05-pages/_home.scss */
body.home .user-info h1 {
  font-size: 36px;
}
/* line 56, ../sass/05-pages/_home.scss */
body.home .user-info p {
  font-size: 20px;
  margin: 8px;
}
/* line 60, ../sass/05-pages/_home.scss */
body.home .btn-inbox, body.home .btn-stats {
  position: absolute;
  bottom: 0;
  margin: 0 -41px 0 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transform: translateY(200px);
}
/* line 68, ../sass/05-pages/_home.scss */
body.home .btn-inbox {
  right: 30%;
  bottom: 57px;
}
/* line 72, ../sass/05-pages/_home.scss */
body.show__btn_2 .btn-inbox {
  transform: translateY(0px);
}
/* line 76, ../sass/05-pages/_home.scss */
body.home .btn-stats {
  right: 50%;
  bottom: 94px;
}
/* line 80, ../sass/05-pages/_home.scss */
body.show__btn_1 .btn-stats {
  transform: translateY(0px);
}
