// layout stuffs

$menu-height: 160;
$menu-height-small: 100;
$menu-height-large: 216;

.menu__top,
.menu__bottom {
    height: unit($menu-height-small);
    background: white;
    display: block;
    width: 100%;
    @include transition();
    position: fixed;
    z-index: $z-index-3;
    box-shadow: 0 5px 2px color('gray-light');

    &.open {
        transform: translateY( 0 );
    }
}

.menu__top {
    top: 0;
    transform: translateY( unit(-$menu-height-small) );
}

.menu__bottom.reply {   
    bottom: 0;
    height: unit($menu-height-large);
    transform: translateY( unit($menu-height-large) );

    &.open {
        transform: translateY(0);
    }
}
.menu__bottom.alerts {   
    bottom: 0;
    height: 100%;

    transform: translateY( 100% );
    &.open {
        transform: translateY( 0 );
    }
}

.main-content {
    position: fixed;
    position: relative; // buttons stay in .main-content
    display: block;
    height: 100%;
    width: 100%;
    z-index: $z-index-2;
    background-image: url('#{$imagePath}/map.png');
}