// layout stuffs

$menu-height: 160;

.menu__top,
.menu__bottom {
    height: unit($menu-height);
    background: white;
    display: block;
    width: 100%;
    @include transition();
    position: fixed;
    @include border(0 0 1px);

    &.open {
        transform: translateY( 0 );
    }
}

.menu__top {
    top: 0;
    transform: translateY( unit(-$menu-height) );
}

.menu__bottom {
    bottom: 0;
    transform: translateY( unit($menu-height) );
}

.main-content {
    position: fixed;
    position: relative; // buttons stay in .main-content
    display: block;
    height: 100%;
    width: 100%;
    z-index: $z-index-2;
    background-image: url('#{$imagePath}/map.png');
}