// BUttons

.button {
    position: absolute;
    display: block;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    @include bg('mh-gray-button');
    margin: 16px;
    box-shadow: 0 5px 1px  rgba(0, 0, 0, 0.15);
    z-index: $z-index-6;

    &.notification {
        bottom: 12px;
        right: 12px;
    }

    &.alert {
        right: 0;
    }
}