// BUttons

.button {
    position: absolute;
    display: block;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    @include bg('mh-gray-button');
    margin: 16px;
    box-shadow: 0 5px 1px  rgba(0, 0, 0, 0.15);
    z-index: $z-index-6;

    &.notification {
        bottom: 0;
        right: 0;
    }

    &.alert {
        right: 0;
    }
}

// exceptions 
.button.alert {
    @include bg('white');

    .icon-inbox {
        @include font(
            $size: 35,
            $color: 'mh-gray-text',
            $align: center
        );
        margin: 20px 0 0 6px;
        display: block;
    }
}
.button.notification {
    background: none;
    box-shadow: none;

    .icon-leaf{
        display: block;
        margin-top: 8px;
        @include font(
            $size: 60,
            $align: center,
            $color: 'mh-green'
        );
        text-shadow: 0 2px 2px color('mh-green');
    }
}