$box-shadow: 3px;

.km-30 {
    $box-shadow: 3px;
    .shadow {
        box-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }
    .text-shadow {
        text-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }

}


.km-50 {
    $box-shadow: 5px;
    .shadow {
        box-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }
    .text-shadow {
        text-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }
}

.km-80 {
    $box-shadow: 8px;
    .shadow {
        box-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }
    .text-shadow {
        text-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }
}

.km-120 {
     $box-shadow: 12px;
    .shadow {
        box-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }
    .text-shadow {
        text-shadow: 0 $box-shadow 1px rgba(0,0,0,0.15);
    }
}
